{% extends 'base.html' %}

{% block content %}

<style>
  #goToHomePageButton {
      position: fixed;
      bottom: 20px; /* Adjust as needed */
      left: 20px; /* Adjust as needed */
      z-index: 999; /* Ensure it's above other elements */
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="mt-5 col-md-6">
      <form method="post">
        {% csrf_token %}
        <table class="table">
          {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
      <div class="message mt-3">
        {% for message in messages %}
          <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<button id="goToHomePageButton" class="btn btn-primary">Go Back</button>


<script>
    document.getElementById("goToHomePageButton").addEventListener("click", function() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/", true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                window.location.href = "/user-profile/";
            }
        };
        xhr.send();
    });
</script>
{% endblock %}
