{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="mt-5 col-md-6">
      <form method="post">
        {% csrf_token %}
        <table class="table">
          {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
      <div class="message mt-3">
        {% for message in messages %}
          <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
