{% extends "base.html" %}

{% load static %}


{% block content %}

<style>
    .prod-img img {
        width:  100%;
        height:  300px;
        object-fit: cover;
    }

    /* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Horizontal line */
.dropdown-content hr {
    margin: 5px 0;
    border: none;
    border-top: 1px solid #ddd;
}

</style>
    

<div class="colorlib-loader"></div>
<div id="page">

    <aside id="colorlib-hero">
        <div class="flexslider">
            <ul class="slides">

             

                {% for banner in banners %}
            <li style="background-image: url('{{ banner.banner_image.url }}');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Men's</h1>
                                    <h2 class="head-2">Shoes</h2>
                                    {% comment %} <h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2> {% endcomment %}
                                    <p class="category"><span>New trending shoes</span></p>
                                    <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}


         
            
            
        </div>
    </aside>
    <div class="colorlib-intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="colorlib-product">
        <div class="container-fluid">
            <div class="row">
                {% comment %} {% for category in categorys %} {% endcomment %}
                <div class="col-sm-6 text-center">
                    <div class="featured">
                        {% comment %} <a href="#" class="featured-img" style="background-image: url({{ category.image.url }});"></a> {% endcomment %}
                        <div class="desc">
                            {% comment %} <h2><a href="#">Shop{{category.category_name}}Collection</a></h2> {% endcomment %}
                        </div>
                    </div>
                </div>
                {% comment %} {% endfor %} {% endcomment %}
                {% comment %} <div class="col-sm-6 text-center">
                    <div class="featured">
                        <a href="#" class="featured-img" style="background-image: url({% static 'images/women.jpg' %});"></a>
                        <div class="desc">
                            <h2><a href="#">Shop Women's Collection</a></h2>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>

    {% comment %} <form method="GET" action="{% url 'search_results' %}">
        <input type="text" name="query" placeholder="Search...">
        <select name="sort_by">
            <option value="price_low_to_high">Price: Low to High</option>
            <!-- Add more sorting options if needed -->
        </select>
        <button type="submit">Search</button>
    </form> {% endcomment %}

 

    <div class="colorlib-product">
        <div class="container">
            <div class="dropdown">
                <button class="dropbtn">Sort by</button>
                <div class="dropdown-content">
                    <a href="#">Popularity</a>
                    <a href="#">Price: Low to High</a>
                    <a href="#">Price: High to Low</a>
                    <a href="#">Average Ratings</a>
                    <hr>
                    <a href="#">Featured</a>
                    <a href="#">New Arrivals</a>
                    <hr>
                    <a href="#">aA - zZ</a>
                    <a href="#">zZ - aA</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                    <h2>All Product</h2>
                </div>


               
                
{% comment %} 
                <select name="sort_by">
                    <option value="">Sort by:</option>
                    <option value=" ">Popularity</option>
                    <option value=" ">Price: Low to High</option>
                    <option value="price_high_to_low">Price: High to Low</option>
                    <option value="average_ratings">Average Ratings</option>
                    <option value="featured">Featured</option>
                    <option value="new_arrivals">New Arrivals</option>
                    <option value="a_to_z">A - Z</option>
                    <option value="z_to_a">Z - A</option>
                </select> {% endcomment %}




               



            </div>
            <div class="row row-pb-md">
                {% for product in products %}
                <div class="col-lg-3 mb-4">
                    <div class="product-entry border text-center">
                     <a href="{% url 'product:product_details' product_id=product.pk %}" class="prod-img">
                            <img src="{{ product.full_view_image.url }}" class="img-fluid" alt="Free html5 bootstrap 4 template">
                        </a> 
                        <div class="desc">
                            <h2><a href="#">{{ product.product_name }}</a></h2>
                            <span class="price">{{ product.price }}</span>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div>
            <div class="row row-pb-md">
                {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p><a href="#" class="btn btn-primary btn-lg">Shop All Products</a></p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="colorlib-partner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                    <h2>New Products</h2>
                </div>
            </div>
            <div class="row row-pb-md">
                {% for product in lasted_categories %}
                <div class="col-md-3 col-lg-3 mb-4 text-center">
                    <div class="product-entry border">
                        <a href="{% url 'product:product_details' product_id=product.pk %}" class="prod-img">
                            <img src="{{ product.full_view_image.url }}" class="img-fluid" alt="{{ product.product_name }}"> 
                        </a>
                        <div class="desc">
                            <h2><a href="{% url 'product:product_details' product_id=product.pk %}">{{ product.product_name }}</a></h2>
                            <span class="price">Category: {{ product.category }}</span>
                            <span class="price">{{ product.price }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer id="colorlib-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col footer-col colorlib-widget">
                    <h4>About Footwear</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    <p>
                        <ul class="colorlib-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </p>
                </div>
                <div class="col footer-col colorlib-widget">
                    <h4>Customer Care</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Returns/Exchange</a></li>
                            <li><a href="#">Gift Voucher</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Special</a></li>
                            <li><a href="#">Customer Services</a></li>
                            <li><a href="#">Site maps</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col footer-col colorlib-widget">
                    <h4>Information</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Order Tracking</a></li>
                        </ul>
                    </p>
                </div>

                <div class="col footer-col">
                    <h4>News</h4>
                    <ul class="colorlib-footer-links">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Exhibitions</a></li>
                    </ul>
                </div>

                <div class="col footer-col">
                    <h4>Contact Information</h4>
                    <ul class="colorlib-footer-links">
                        <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                        <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                        <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                        <li><a href="#">yoursite.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span> 
                        <span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>

{% endblock %}

