{% extends "base.html" %}

{% load static %}


{% block content %}

<style>
    .prod-img img {
        width:  100%;
        height:  300px;
        object-fit: cover;
    }

    /* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Horizontal line */
.dropdown-content hr {
    margin: 5px 0;
    border: none;
    border-top: 1px solid #ddd;
}


.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px; /* Increase the size of the heart icon */
    z-index: 1;
    color:grey;

    transition: color 0.3s; /* Add transition effect for color change */
}

.wishlist-icon:hover {
    color: red; /* Change the color to red on hover */
}

.product-entry {
    position: relative;
}


/* CSS */
.wishlist-form {
display: inline; /* Display the form inline */
}

.wishlist-form button {
background: none; /* Remove background */
border: none; /* Remove border */
padding: 0; /* Remove padding */
cursor: pointer; /* Change cursor to pointer */
}

.wishlist-form button:focus {
outline: none; /* Remove outline when button is focused */
}


.regular-price {
	color: black; /* Color for the regular price */
	text-decoration: line-through; /* Add line-through for regular price */
}

.price-section {
	margin-top: 10px;
}

.offer-price {
	color: green; /* Color for the offer price */
	font-weight: bold;
}



</style>
<div class="container position-fixed" style="top: 10px; right: 10px; max-width: 300px;">
    <div class="row">
        <div class="col">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


<div class="colorlib-loader"></div>
<div id="page">

    <aside id="colorlib-hero">
        <div class="flexslider">
            <ul class="slides">

          


                


                {% for banner in banners %}
            <li style="background-image: url('{{ banner.banner_image.url }}');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Men's</h1>
                                    <h2 class="head-2">Shoes</h2>
                                    {% comment %} <h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2> {% endcomment %}
                                    <p class="category"><span>New trending shoes</span></p>
                                    <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}


         
            
            
        </div>
    </aside>
    <div class="colorlib-intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="colorlib-product">
        <div class="container-fluid">
            <div class="row">
                {% comment %} {% for category in categorys %} {% endcomment %}
                <div class="col-sm-6 text-center">
                    <div class="featured">
                        {% comment %} <a href="#" class="featured-img" style="background-image: url({{ category.image.url }});"></a> {% endcomment %}
                        <div class="desc">
                            {% comment %} <h2><a href="#">Shop{{category.category_name}}Collection</a></h2> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 

    <div class="colorlib-product">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                    <h2>All Product</h2>
                </div>

            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
                <i class="fas fa-filter"></i> Filter Products
            </button>
            
            <div class="row row-pb-md">
                {% if no_results %}
                <p>No products found.</p>
            {% else %}
                <!-- Display products here -->
       
                {% for product in products %}
                <div class="col-lg-3 mb-4">
                    <div class="product-entry border text-center">
                     <a href="{% url 'product:product_details' product_id=product.pk %}" class="prod-img">
                            <img src="{{ product.full_view_image.url }}" class="img-fluid" alt="Free html5 bootstrap 4 template">
                        </a> 
                        <div class="desc">
                            <h2><a href="#">{{ product.product_name }}</a></h2>
                            <div class="price-section">
                                {% if product.offer_price %}
                                    <p class="offer-price"><strong>Offer Price:</strong> {{ product.offer_price }}</p>
                                <p class="regular-price"><strong>Price:</strong> {{ product.price }}</p>
                               {% else %}
                               <span class="price">MRP : {{ product.price }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <form action="{% url 'product:add_to_wishlist' product_id=product.pk %}" method="post" class="wishlist-form">
                            {% csrf_token %}
                            <button type="submit" class="wishlist-icon" title="Add to wishlist">
                                <i class="fas fa-heart"></i>
                            </button>
                        </form>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div>
            <div class="row row-pb-md">
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% comment %} <div class="row">
                <div class="col-md-12 text-center">
                    <p><a href="#" class="btn btn-primary btn-lg">Shop All Products</a></p>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    

    <div class="colorlib-partner">
        <div class="container">
            <div class="row row-pb-md">
                {% for product in lasted_categories %}
                <div class="col-md-3 col-lg-3 mb-4 text-center">
                    <div class="product-entry border">
                        <a href="{% url 'product:product_details' product_id=product.pk %}" class="prod-img">
                            <img src="{{ product.full_view_image.url }}" class="img-fluid" alt="{{ product.product_name }}"> 
                        </a>
                        <div class="desc">
                            <h2><a href="{% url 'product:product_details' product_id=product.pk %}">{{ product.product_name }}</a></h2>
                            <span class="price">Category: {{ product.category }}</span>
                            <span class="price">{{ product.price }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer id="colorlib-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col footer-col colorlib-widget">
                    <h4>About Footwear</h4>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                    <p>
                        <ul class="colorlib-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </p>
                </div>
                <div class="col footer-col colorlib-widget">
                    <h4>Customer Care</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Returns/Exchange</a></li>
                            <li><a href="#">Gift Voucher</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Special</a></li>
                            <li><a href="#">Customer Services</a></li>
                            <li><a href="#">Site maps</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col footer-col colorlib-widget">
                    <h4>Information</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Order Tracking</a></li>
                        </ul>
                    </p>
                </div>

                <div class="col footer-col">
                    <h4>News</h4>
                    <ul class="colorlib-footer-links">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Exhibitions</a></li>
                    </ul>
                </div>

                <div class="col footer-col">
                    <h4>Contact Information</h4>
                    <ul class="colorlib-footer-links">
                        <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                        <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                        <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                        <li><a href="#">yoursite.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> target="_blank">Colorlib</a>
<
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>


<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Filter Products</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="filterForm">
            <div class="form-group">
              <label for="category">Category:</label>
              <select name="category" id="category" class="form-control" multiple>
                {% for category in categorys %}
                    <option value="{{ category.id }}">{{ category.category_name }}</option>
                {% endfor %}
                <!-- Add more options as needed -->
                </select>
            </div>

            <div class="form-group">
                <label for="brands">Brand:</label>
                <select name="brands" id="brands" class="form-control" multiple>
                    {% for brand in brands %}
                        <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            
            {% comment %} <div class="form-group">  
              <label for="size">Size:</label>
              <select name="size" id="size" class="form-control" multiple>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <!-- Add more options as needed -->
              </select>
            </div> {% endcomment %}
            <div class="form-group">
              <label for="price">Price:</label>
              <select name="price" id="price" class="form-control" multiple>
                <option value="0-2000">1000 - 2000</option>
                <option value="2000-3000">2000 - 3000</option>
                <option value="3000-4000">3000 - 4000</option>
                <option value="5000-6000">5000 - 6000</option>
                <!-- Add more options as needed -->
              </select>
            </div>
            <!-- Add more filtering options as needed -->
            <button type="submit" class="btn btn-primary">Apply Filters</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>


    {% comment %} const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.onmouseenter = Swal.stopTimer;
          toast.onmouseleave = Swal.resumeTimer;
        }
      });
      Toast.fire({
        icon: "success",
        title: "Signed in successfully"
      }); {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Include SweetAlert library from CDN -->
{% comment %} <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
// After the sign-in process is successful
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.onmouseenter = Swal.stopTimer;
    toast.onmouseleave = Swal.resumeTimer;
  }
});

// Trigger the Toast notification
Toast.fire({
  icon: "success",
  title: "Signed in successfully"
}); {% endcomment %}

<script>

    $(document).ready(function() {
        $('#filterForm').submit(function(event) {
            event.preventDefault();
            
            // Get selected options
            var selectedCategories = $('#category').val();
            var selectedPrices = $('#price').val();
            var brandValues = $('#brands').val();
            
            // Construct the URL with selected filters as query parameters
            var url = '/home-filter/?';
            if (selectedCategories && selectedCategories.length > 0) {
                url += 'category=' + selectedCategories.join(',') + '&';
            }
            if (selectedPrices && selectedPrices.length > 0) {
                url += 'price=' + selectedPrices.join(',') + '&';
            }
            if (brandValues && brandValues.length > 0) {
                url += 'brands=' + brandValues.join(',') + '&';
            }
        
            // Redirect to the filtered home page
            window.location.href = url;
        });
    });
      
</script>
      

{% endblock %}

