{% extends 'base.html' %}
{% block content %}
 <style>
    .table-wrapper {
        overflow-x: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: center; /* Align content to center */
    }
    th {
        background-color: #f2f2f2;
    }
    img {
        max-width: 80px;
        max-height: 80px;
        margin: 0 auto;
    }
    .action-link {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }
    /* Add custom styles for status */
    .status-cancelled {
        color: red;
    }
    .status-processing {
        color: #88c8bc;
    }
    .status-pending {
        color: orange;
    }
    .status-delivered {
        color: green;
    }
    .heading-wrapper{
        text-align:center;
    }
    </style>
    {% if messages %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success:</strong> {{ message }}
                        {% comment %} <button type="button" class="btn-close" data-bs-dismiss="alert" ></button> {% endcomment %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}




<div class="heading-wrapper">
    <h3>Order Details</h3>
</div>
<div class ='container'>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Total Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                {% for order_product in order.orderproduct_set.all %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ order.orderproduct_set.count }}">{{ order.id }}</td>
                        {% endif %}
                        <td>{{ order_product.product.product_name }}</td>
                        <td><img src="{{ order_product.product.full_view_image.url }}" alt="Full View"></td>
                        <!-- Apply conditional styling based on order status -->
                        <td>
                            <span class="{% if order.status == 'Cancelled' %}status-cancelled{% elif order.status == 'Processing' %}status-processing{% elif order.status == 'Pending' %}status-pending{% elif order.status == 'Delivered' %}status-delivered{% endif %}">
                                {{ order_product.status }}
                            </span>
                        </td>
                        <td>{{ order.payment.amount }}</td>

                        {% if forloop.first %}
                            <td rowspan="{{ order.orderproduct_set.count }}">
                                <a href="{% url 'order_details' order_id=order.id %}" class="btn btn-info">Order Details</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
    {% endblock %}
