{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SA Admin Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'admin_static/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
      <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">



    <link href="{% static 'admin_static/css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>
<body>


{% block content %}

{% endblock %}


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'admin_static/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'admin_static/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="{% static 'admin_static/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- Custom scripts for all pages-->
    <script src="{% static 'admin_static/js/sb-admin-2.min.js' %}"></script>
    
    <!-- Page level plugins -->
    <script src="{% static 'admin_static/vendor/chart.js/Chart.min.js' %}"></script>
    
    <!-- Page level custom scripts -->
    <script src="{% static 'admin_static/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'admin_static/js/demo/chart-pie-demo.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    
</body>

    <script>
      $(document).ready(function(){
          // Event listener for clicking the "Edit" button in each row
          $('.edit-btn').on('click', function(){
              // Get the category ID from the button's data attribute
              var categoryId = $(this).data('category-id');
              // Populate the modal form fields with the category details
              $('#editCategoryName' + categoryId).val($('#editCategoryName' + categoryId).val().trim());
              $('#editCategoryDescription' + categoryId).val($('#editCategoryDescription' + categoryId).val().trim());
              // Update the form action URL based on the category ID
              $('#editCategoryForm' + categoryId).attr('action', '/category/edit/' + categoryId);
          });
  
          // Event listener for clicking the "Save Changes" button
          $('.save-btn').on('click', function(){
              // Get the category ID from the button's data attribute
              var categoryId = $(this).data('category-id');
              // Submit the form with updated category details
              $('#editCategoryForm' + categoryId).submit();
          });
      });
  </script>
  

</html>