{% extends 'admin_base.html' %}
{% load static %}
{% block content %}

<style>
    .custom-admin-dashboard {
        display: flex; /* Use flexbox for horizontal alignment */
        justify-content: space-between; /* Evenly distribute items along the main axis */
    }
    
    .dashboard-item {
        flex: 1; /* Each item takes equal space */
        background-color: #36b9cc; /* Blue background color */
        color: #fff; /* White text color */
        border-radius: 5px; /* Rounded corners */
        padding: 20px; /* Add some padding */
        margin-right: 20px; /* Add margin between items */
    }
    
    .dashboard-heading {
        font-size: 24px; /* Larger font size for heading */
        font-weight: bold; /* Bold font weight for heading */
    }
    
    .count-box {
        font-size: 36px; /* Larger font size for count */
        margin-top: 10px; /* Add some space between heading and count */
    }
    

    .sales-count-heading {
        text-align: center;
        color: #333333; /* Dark grey text */
        font-size: 24px; /* Adjust font size as needed */
        margin-bottom: 20px; /* Add some space below the heading */
        font-weight: bold; /* Make the text bold */
        text-transform: uppercase; /* Optional: transform text to uppercase */
    }

    .dashboard-item {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
    }
    
    .sales-count-heading {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .count-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .count-box {
        flex: 1;
        padding: 10px;
        text-align: center;
    }
    
    .amount-label {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .amount-value {
        font-size: 24px;
    }
    
    .total-container {
        text-align: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2  !important;
    }
    
    .margin-top{
        margin-top: 50px;
    }
    
    
</style>
    
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SA ADMIN</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin_dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

        

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_users' %}">
                  <i class="bi bi-person"></i>
                  <span>Customer</span>
              </a>
            </li>
             <!-- Divider -->
             <hr class="sidebar-divider">

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseManage"
                    aria-expanded="true" aria-controls="collapseManage">
                    <i class="bi bi-basket"></i>
                    <span>Products and Brands</span>
                </a>
                <div id="collapseManage" class="collapse" aria-labelledby="headingManage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'admin_product' %}">Products Details</a>
                        <a class="collapse-item" href="{% url 'admin_add_product' %}">Add Product</a>
                        <a class="collapse-item" href="{% url 'product_size_color' %}">Add ProductSizeColor</a>
                        <a class="collapse-item" href="{% url 'admin_add_brand' %}">Add Brand</a>
                        <!-- Add other brand management links here -->
                    </div>
                </div>
            </li>
            
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'discount_product_list' %}">
                    <i class="bi bi-bag-check"></i>
                    <span>Offers</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>
             <!-- Divider -->
             <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_category' %}">
                <i class="bi bi-grid-3x3-gap"></i>
                    <span>Category</span></a>
            </li>
             <!-- Divider -->
             <hr class="sidebar-divider">
             <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_order_management' %} ">
                    <i class="bi bi-cart-fill"></i>
                    <span>Order Management</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_add_coupon' %}">
                <i class="bi bi-tag"></i>
                    <span>Coupen</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_add_banner' %} ">
                  <i class="bi bi-tag"></i>
                    <span>Banner</span></a>
            </li>
            <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_sales_report' %}">
                      <i class="bi bi-tag"></i>
                          <span>
                            Sales report</span></a>
                </li>
     


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

   

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="mr-2 d-none d-lg-inline text-gray-600 small">SA</span>
                          <img class="img-profile rounded-circle" src="{% static 'admin_static/img/undraw_profile.svg' %}">
                          </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!--Overall sales details-->  
                    <div class="custom-admin-dashboard">
                        <div class="dashboard-item">
                            <h1 class="sales-count-heading">Sales Count</h1>
                            <div class="count-container">
                                <div class="count-box">
                                    <div class="amount-label">COD</div>
                                    <div class="amount-value">{{ cod_sale_count }}</div>
                                </div>
                                <div class="count-box">
                                    <div class="amount-label">Online</div>
                                    <div class="amount-value">{{ online_sales_count }}</div>
                                </div>
                            </div>
                                <div class="total-container">
                                    <div class="amount-label">Overall count:</div>
                                    <div class="amount-value">{{ overall_sales_count }}</div>
                                </div>
                       
                        </div>
                        

                        <div class="dashboard-item">
                            <div class="sales-count-heading">Overall Order Amount</div>
                            <div class="count-container">
                                <div class="count-box">
                                    <div class="amount-label">COD</div>
                                    <div class="amount-value">{{ overall_cod_amount }}</div>
                                </div>
                                <div class="count-box">
                                    <div class="amount-label">Online</div>
                                    <div class="amount-value">{{ overall_online_amount }}</div>
                                </div>
                            </div>
                            <div class="total-container">
                                <div class="amount-label">Total</div>
                                <div class="amount-value">{{ overall_order_amount }}</div>
                            </div>
                        </div>
                        
                        
                        


                        <div class="dashboard-item">
                            <div class="sales-count-heading">Overall Discount</div>
                            <div class="count-box">{{ overall_discount }}</div>
                        </div>
                    </div>


                    <!-- Page Heading -->
                    {% comment %} <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div> {% endcomment %}

                    <div class='margin-top'>
                        <div class="row">
                          <div class="col-md-12">
                            <h1>Chart</h1>
                            <div>
                              <label>Select Year:</label>
                              <select id="yearSelect">
                                <option value="">All Years</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <!-- Add more years as needed -->
                              </select>
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="row">
                          <div class="col-md-6">
                            <canvas id="myChartline"></canvas>
                          </div>
                          <div class="col-md-6">
                            <canvas id="myChartBar"></canvas>
                          </div>
                        </div>
                    </div>

















                    <div class='margin-top'>
                        <h2><strong>Best Selling Products</strong></h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Brand</th>
                                    <th>Total Orders</th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                {% for product in best_selling_products %}
                                <tr>
                                    <td>{{ product.product__id }}</td>
                                    <td>{{ product.product__product_name }}</td>
                                    <td>{{ product.product__category__category_name }}</td>
                                    <td>{{ product.product__product_brand__brand_name }}</td>
                                    <td>{{ product.total_orders }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>                            
                        </table>
                    </div>


              
                    

                <div class='container mt-5'>
                    <table>
                        <h2><strong>Top Selling Brands</strong><h2>
                        <thead>
                            <tr>
                            <th>Brand Name</th>
                            <th>Total Orders</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for brand_sale in brand_sales %}
                            <tr>
                            <td>{{ brand_sale.product_brand__brand_name }}</td>
                            <td>{{ brand_sale.total_orders }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'admin_logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>  <!-- Include chart library and additional scripts -->





<!-- Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    // Function to fetch data based on selected year
    function fetchData(year) {
      var endpoint = '/api?year=' + year;

      $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data) {
          drawLineGraph(data, 'myChartline');
          drawBarGraph(data, 'myChartBar');
          console.log("drawing");
        },
        error: function(error_data) {
          console.log(error_data);
        }
      });
    }

    // Initial fetch with no filter
    fetchData('');

    // Event listener for year select change
    $('#yearSelect').change(function() {
      var selectedYear = $(this).val();
      fetchData(selectedYear);
    });
  });

  function drawLineGraph(data, id) {
    var labels = data.labels;
    var chartLabel = data.chartLabel;
    var chartdata = data.chartdata;
    var ctx = document.getElementById(id).getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          label: chartLabel,
          backgroundColor: 'rgb(255, 100, 200)',
          borderColor: 'rgb(55, 99, 132)',
          data: chartdata,
        }]
      },
      options: {
        scales: {
          xAxes: [{
            display: true
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }

  function drawBarGraph(data, id) {
    var labels = data.labels;
    var chartLabel = data.chartLabel;
    var chartdata = data.chartdata;
    var ctx = document.getElementById(id).getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: chartLabel,
          data: chartdata,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }
</script>
{% endblock %}