{% extends 'admin_base.html '%}
{% load static %}
{% block content %}

<style>
    .filter-form {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .filter-group {
        margin-right: 20px;
    }
    
    label {
        margin-right: 5px;
    }
    
    select {
        padding: 5px;
        border-radius: 5px;
    }
    
    .btnf {
        padding: 8px 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: #0056b3;
    }
</style>    
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SA ADMIN</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin_dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

        

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_users' %}">
                  <i class="bi bi-person"></i>
                  <span>Customer</span>
              </a>
            </li>
             <!-- Divider -->
             <hr class="sidebar-divider">

            <!-- Nav Item - Utilities Collapse Menu -->
            

                
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseManage"
                    aria-expanded="true" aria-controls="collapseManage">
                    <i class="bi bi-basket"></i>
                    <span>Products and Brands</span>
                </a>
                <div id="collapseManage" class="collapse" aria-labelledby="headingManage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'admin_product' %}">Products Details</a>
                        <a class="collapse-item" href="{% url 'admin_add_product' %}">Add Product</a>
                        <a class="collapse-item" href="{% url 'product_size_color' %}">Add ProductSizeColor</a>
                        <a class="collapse-item" href="{% url 'admin_add_brand' %}">Add Brand</a>
                        <!-- Add other brand management links here -->
                    </div>
                </div>
            </li>
            
                
                
                
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_users' %}">
                    <i class="bi bi-bag-check"></i>
                    <span>Orders</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>
             <!-- Divider -->
             <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_category' %}">
                <i class="bi bi-grid-3x3-gap"></i>
                    <span>Category</span></a>
            </li>
             <!-- Divider -->
             <hr class="sidebar-divider">
             <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_order_management' %} ">
                    <i class="bi bi-cart-fill"></i>
                    <span>Order Management</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_add_coupon' %}">
                  <i class="bi bi-tag"></i>
                      <span>Coupen</span></a>
              </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_users' %}">
                  <i class="bi bi-tag"></i>
                    <span>Banner</span></a>
            </li>
            <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_sales_report' %}">
                      <i class="bi bi-tag"></i>
                          <span>
                            Sales report</span></a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

   

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">SA</span>
                                <img class="img-profile rounded-circle" src="{% static 'admin_static/img/undraw_profile.svg' %}">

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Products</h1>
                    </div>

                    {% if messages %}
                    <div class="container">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    <form method="GET" action="{% url 'admin_product_filter' %}" class="filter-form">
                        <div class="filter-group">
                            <label for="category-filter">Select Category:</label>
                            <select name="category_filter" id="category-filter">
                                <option value="">All Categories</option>
                                {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="filter-group">
                            <label for="brand-filter">Select Brand:</label>
                            <select name="brand_filter" id="brand-filter">
                                <option value="">All Brands</option>
                                {% for brand in brands %}
                                <option value="{{ brand.brand_name }}">{{ brand.brand_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btnf btn-primary">Apply Filter</button>
                    </form>
                    
                    
                    
                    
                    
                    

                </div>
                <!-- /.container-fluid -->

      
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="productsDataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Description</th>
                                    <th>Sizes</th>
                                    <th>Colors</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Is Available</th>
                                    <th>Category</th>
                                    <th>Brand</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>{{ product.product_name }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>
                                        {% for psc in product_size_colors %}
                                        {% if psc.product_id == product.id %}
                                        {{ psc.size }}{% if not forloop.last %},{% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for psc in product_size_colors %}
                                        {% if psc.product_id == product.id %}
                                        {{ psc.color }}{% if not forloop.last %}{% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for psc in product_size_colors %}
                                        {% if psc.product_id == product.id %}
                                        {{ psc.Stock }}{% if not forloop.last %}{% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.is_available }}</td>
                                    <td>{{ product.category }}</td>
                                    <td>{{ product.product_brand }}</td>
                                    <td>
                                        {% if product.full_view_image %}
                                        <img src="{{ product.full_view_image.url }}" width="110">
                                        {% else %}
                                        No images available
                                        {% endif %}
                                    </td>
                                    <td>
                                
                                     <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit</a> 
                                     <a href="{% url 'edit_product_size_color' pk=product.pk %}" class="btn btn-secondary">variant</a>

                            
                                        {% if product.is_available %}
                                        <a href="{% url 'unlist_product' product.id %}" class="btn btn-warning">Unlist</a>
                                        {% else %}
                                        <a href="{% url 'list_product' product.id %}" class="btn btn-success">List</a>
                                        {% endif %}
                      
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
        <!-- End of Content Wrapper -->
  

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'admin_logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
<script>
    $(document).ready(function() {
        $('#editProductModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var productId = button.data('product-id'); // Extract product ID from data-* attribute
            console.log("Product ID:", productId); // Debugging line
    
            // Fetch product details via AJAX
            $.ajax({
                url: '/admin_edit_product/' + productId + '/',
                data: {
                    'product_id': productId
                },
                success: function(data) {
                    console.log("AJAX Response:", data); // Debugging line
                    var modalBody = $('#editProductModal .modal-body');
                    modalBody.empty(); // Clear the modal body
    
                    // Dynamically create form fields based on the returned data
                    $.each(data, function(key, value) {
                        modalBody.append('<div class="form-group"><label for="' + key + '">' + key + '</label><input type="text" class="form-control" id="' + key + '" name="' + key + '" value="' + value + '"></div>');
                    });
    
                    // Update the form action to include the product ID
                    $('#editProductForm').attr('action', '/admin_edit_product/' + productId + '/');
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", error); // Debugging line
                }
            });
        });
    });
</script>
{% endblock %}