{% extends 'admin_base.html '%}
{% load static %}
{% block content %}


<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4 !important;
        margin: 0;
        padding: 0;
        color: #333;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff !important;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
    }

    form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    form input[type="text"],
    form textarea,
    form select {
        width: 100%  !important;
        padding: 10px  !important;
        margin-bottom: 15px  !important;
        border: 1px solid #ccc  !important;
        border-radius: 5px  !important;
        box-sizing: border-box  !important;
    }

    form input[type="file"] {
        margin-top: 5px;
    }

    form button[type="submit"] {
        background-color: #007bff  !important;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form button[type="submit"]:hover {
        background-color: #0056b3  !important;
    }
</style>


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SA ADMIN</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

        
            <!-- Divider -->
            <hr class="sidebar-divider">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_dashboard' %}">
                  <i class="bi bi-person"></i>
                  <span>Dashboard</span>
              </a>
            </li>

        

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_users' %}">
                  <i class="bi bi-person"></i>
                  <span>Customer</span>
              </a>
            </li>
             <!-- Divider -->
             <hr class="sidebar-divider">

            <!-- Nav Item - Utilities Collapse Menu -->
            

                      
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseManage"
                    aria-expanded="true" aria-controls="collapseManage">
                    <i class="bi bi-basket"></i>
                    <span>Products and Brands</span>
                </a>
                <div id="collapseManage" class="collapse" aria-labelledby="headingManage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'admin_product' %}">Products Details</a>
                        <a class="collapse-item" href="{% url 'admin_add_product' %}">Add Product</a>
                        <a class="collapse-item" href="{% url 'product_size_color' %}">Add ProductSizeColor</a>
                        <a class="collapse-item" href="{% url 'admin_add_brand' %}">Add Brand</a>
                        <!-- Add other brand management links here -->
                    </div>
                </div>
            </li>
                
                
                
                
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'discount_product_list' %}">
                      <i class="bi bi-bag-check"></i>
                      <span>Offers</span>
                  </a>
            </li>
             <!-- Divider -->
             <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_category' %}">
                <i class="bi bi-grid-3x3-gap"></i>
                    <span>Category</span></a>
            </li>
             <!-- Divider -->
             <hr class="sidebar-divider">
             <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_order_management' %} ">
                    <i class="bi bi-cart-fill"></i>
                    <span>Order Management</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_add_coupon' %}">
                  <i class="bi bi-tag"></i>
                      <span>Coupen</span></a>
              </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_add_banner' %} ">
                  <i class="bi bi-tag"></i>
                    <span>Banner</span></a>
            </li>
            <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_sales_report' %}">
                      <i class="bi bi-tag"></i>
                          <span>
                            Sales report</span></a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

   

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                   

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">SA</span>
                                <img class="img-profile rounded-circle" src="{% static 'admin_static/img/undraw_profile.svg' %}">

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% if messages %}
                    <div class="container">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {% endif %}

                    <div class="container">
                        <h1>Add Product</h1>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ product_form.as_p }}
   
                            <button type="submit" class="btn btn-primary">Add Product</button>
                        </form>
                    </div>
                </div>
                <!-- /.container-fluid -->


            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'admin_logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
