
{% extends "base.html" %}

{% load static %}
         
{% block content %}

<style>
    .prod-img img {
        width:  100%;
        height:  300px;
        object-fit: cover;
    }

	.wishlist-icon {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 22px; /* Increase the size of the heart icon */
		z-index: 1;
		color:grey;

		transition: color 0.3s; /* Add transition effect for color change */
	}
	
	.wishlist-icon:hover {
		color: red; /* Change the color to red on hover */
	}
	
	.product-entry {
		position: relative;
	}


	/* CSS */
.wishlist-form {
    display: inline; /* Display the form inline */
}

.wishlist-form button {
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Change cursor to pointer */
}

.wishlist-form button:focus {
    outline: none; /* Remove outline when button is focused */
}


.regular-price {
	color: black; /* Color for the regular price */
	text-decoration: line-through; /* Add line-through for regular price */
}

.price-section {
	margin-top: 10px;
}

.offer-price {
	color: green; /* Color for the offer price */
	font-weight: bold;
}

	
</style>



	<div class="colorlib-loader"></div>
	
	<div id="page">
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="index.html">Home</a></span> / 	<span>{{ gender }}</span></p>
				</div>
			</div>
		</div>

		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}

	 	<div class="breadcrumbs-two">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs-img" style="background-image: url({% static 'images/about.jpg' %});">
						</div>
						<div class="menu text-center">
							<p><a href="#">New Arrivals</a> <a href="#">Best Sellers</a> <a href="#">Extended Widths</a> <a href="#">Sale</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	

		<div class="colorlib-featured">
			<div class="container">
				<div class="row">
					<!-- Iterate over brands -->
					{% for brand in brands %}
					<div class="col-sm-4 text-center">
						<div class="featured">
						
							<div class="featured-img featured-img-2" style="background-image: url({{ brand.brand_image.url }});">
								{% comment %} <h2>{{ brand.brand_name }}</h2> {% endcomment %}
								<!-- Replace '#' with the URL to shop for this brand -->
					
							</div>
							<p><a href="{% url 'product:brand_wise_products' brand_id=brand.pk %}" class="btn btn-primary btn-lg">Shop now</a></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		

		<div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
						<h2>View Products</h2>
					</div>
				</div>
				
				
				<div class="row row-pb-md">
					{% for product in products %}
					<div class="col-md-3 col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="{% url 'product:product_details' product_id=product.pk %}" class="prod-img">
								<img src="{{ product.full_view_image.url }}" class="img-fluid" alt="{{ product.product_name }}">  
							</a>
							<div class="desc">
								<h2><a href="{% url 'product:product_details' product_id=product.pk %}">{{ product.product_name }}</a></h2>
								
								<div class="price-section">
									{% if product.offer_price %}
										<p class="offer-price"><strong>Offer Price:</strong> {{ product.offer_price }}</p>
									<p class="regular-price"><strong>Price:</strong> {{ product.price }}</p>
								   {% else %}
								   <span class="price">MRP : {{ product.price }}</span>
									{% endif %}
								</div>
							</div> 
							<!-- Add wishlist form here -->
							<form action="{% url 'product:add_to_wishlist' product_id=product.pk %}" method="post" class="wishlist-form">
								{% csrf_token %}
								<button type="submit" class="wishlist-icon" title="Add to wishlist">
									<i class="fas fa-heart"></i>
								</button>
							</form>
						</div>
					</div>
					{% endfor %}
				</div>
				
				
				
				
				
				

					<div class="w-100"></div>

	
			</div>
		</div>

		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col footer-col colorlib-widget">
						<h4>About Footwear</h4>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Customer Care</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">Contact</a></li>
								<li><a href="#">Returns/Exchange</a></li>
								<li><a href="#">Gift Voucher</a></li>
								<li><a href="#">Wishlist</a></li>
								<li><a href="#">Special</a></li>
								<li><a href="#">Customer Services</a></li>
								<li><a href="#">Site maps</a></li>
							</ul>
						</p>
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Information</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">About us</a></li>
								<li><a href="#">Delivery Information</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Order Tracking</a></li>
							</ul>
						</p>
					</div>

					<div class="col footer-col">
						<h4>News</h4>
						<ul class="colorlib-footer-links">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Exhibitions</a></li>
						</ul>
					</div>

					<div class="col footer-col">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
							<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li><a href="#">yoursite.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>
{% endblock %}

	
