{% extends 'accounts_base.html' %}

{% block content %}
    <title>New Password</title>
    <style>
        /* Styles for the card */
        .card {
            width: 300px;
            margin: auto;
            margin-top: 3em;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        /* Styles for the headline */
        .headline {
            text-align: center;
            margin-bottom: 20px;
        }

        /* Styles for the password input */
        .password-input {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        /* Styles for the submit button */
        .submit-btn {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .submit-btn:hover {
            background-color: #0056b3;
        }
        .error-message {
            color: red; /* Change the color to red or any other color you prefer */
        }
        
    </style>

    <!-- Card for entering new password -->
    <div class="card">
        <h2 class="headline">Reset Password</h2>
        <p>Please enter your new password.</p>
        <form method="post" action="{% url 'Accounts:NewPasswordView' %}">
            {% csrf_token %}
            <input type="password" id="password" name="password" class="password-input" placeholder="Enter New Password" required>
            <input type="password" id="confirm_password" name="confirm_password" class="password-input" placeholder="Confirm New Password" required>
            <input type="submit" value="Reset Password" class="submit-btn">
        </form>
        {% if error %}
        <p class="error-message" id="password-error">{{ error }}</p>
        {% endif %}  
    </div>
{% endblock %}
